* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: #6F4E34;
}
.column-container {
  display: flex;
  width: 100%;
  height: 100vh;
  min-width: 650px;
}
.column {
  margin: 10px;
  margin-top: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  height: calc(100vh - 40px);
}
.container.left {
  margin-top: 25px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #966E49;
  border-radius: 25%;
}

.column-header {
  font-size: 25px;
  position: relative;
  background-color: #D2B09D;
  border: 2px black solid;
  border-bottom:0px ;
  top: 2px;
  padding:.5em;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
}
#big_coffee {
  user-select: none;
  font-size: 128px;
  cursor: pointer;
  background-color: #D2B09D;
  padding:.5em;
  border-radius: 50%;
}

.counter-container {
  font-size: 30px;
  margin: 10px;
  color:#D2B09D;
  font-weight: bold;
}

.cps-container {
  font-size: 20px;
  color:#D2B09D;
  font-weight: bold;
}

#producer_container {
  padding: 10px;
  overflow: auto;
  border: 2px black solid;
  border-radius: 5px;
  background-color: #D2B09D;
}

.producer {
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  background-color: #E8DECB;
}
.producer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producer-title {
  font-size: 20px;
}

.producer button {
  font-size: 15px;
  width: 50px;
}
